BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 80
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Left
BinPackArguments: false
BinPackParameters: false
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false
IncludeBlocks: Preserve
SortIncludes: false
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false
