# ACL (Application Configuration Layer) Configuration

config ACL_MAX_DEVICES
	int "Maximum number of devices"
	default 64
	range 1 256
	help
	  Maximum number of devices that can be configured in ACL.
