# SPDX-License-Identifier: GPL-2.0
# ============================================================================
# Core Modules Configuration
# ============================================================================

menu "Core Modules"

source "core/osal/Kconfig"
source "core/hal/Kconfig"
source "core/pconfig/Kconfig"
source "core/pdl/Kconfig"
source "core/prl/Kconfig"
source "core/aconfig/Kconfig"

endmenu
