# Compiled kconfig tools
conf
mconf
nconf
qconf
gconf
kxgettext

# Build artifacts
*.o
.*.cmd
*.so
*.a

# Generated source files
lex.zconf.c
zconf.tab.c
zconf.hash.c
lkc_defs.h
qconf.moc
.tmp_qtcheck
.tmp_gtkcheck

# lxdialog build artifacts
lxdialog/*.o
lxdialog/.*.cmd
lxdialog/lxdialog
